*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    border: 1px solid #000;
    border-collapse: separate;
    border-spacing: 10px 10px;
    width: 100%;
}

h2{
    font-size: 16px;
    color: #666;
}

a{
    font-size: 12px;
}

h1{
    font-size: 20px;
    color: #333;
}

th{
    background-color: #666;
    color: white;
}