@charset "utf-8";
/* CSS Document */

body{
	background-color:#524741;
}

.box{
	background-color:#221D1A;
	height:auto;
	width:80%;
	top:0;
	margin:0 auto;
	border-radius:22px 22px 0 0;
}

ul{
	text-align: right;
	text-decoration: none;
	list-style-type: none;
}
li{
	font-family: :"Palatino Linotype","Book Abriqua", Palatino, serif;
	size: 12px;
	margin-right: 20px;
	display: inline;
	text-decoration: none;
}

a{
	text-decoration:none;
	color: #FF9;
}
a:hover{
	color:#FFF
}

img{
	width:8%; 
	height:50%;  
}

.dos{
	background-color:#E6AD2A;
	width:80%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}

.dos img{
	width:60%;
	height:500px;
}

.tres{
	background-color:#221D1A;
	width:80%;
	height:70px;
	margin-left:auto;
	margin-right:auto;
}

.tres img{
	width:100px;
	height:70px;
	margin-left:5px;
}

.cuatro{
	background-color:#D29E26;
	width:80%;
	height:200px;
	margin-left:auto;
	margin-right:auto;
}

.cinco{
	background-color:#221D1A;
	width:80%;
	height:1200px;
	margin-left:auto;
	margin-right:auto;
	border-radius:0 0 22px 22px;
}